<h1><%= I18n.t("tasks.heading.index") %></h1>
<%= link_to "#{I18n.t("tasks.table.create_a_new_task")}", new_task_path %>

<%= form_tag({ controller: "tasks", action: "index" }, method: "get", class: 'form_sort') do |form| %>
  <label for="created_at"><%= I18n.t("tasks.form_select.attributes.created_at") %></label>
  <select name="created_at" id="created_at">
    <option></option>
    <option value="asc"><%= I18n.t("tasks.form_select.asc") %></option>
    <option value="desc"><%= I18n.t("tasks.form_select.desc") %></option>
  </select>

  <label for="end_time"><%= I18n.t("tasks.form_select.attributes.end_time") %></label>
  <select name="end_time" id="end_time">
    <option></option>
    <option value="asc"><%= I18n.t("tasks.form_select.asc") %></option>
    <option value="desc"><%= I18n.t("tasks.form_select.desc") %></option>
  </select>

  <%= submit_tag "#{I18n.t("tasks.form_select.submit")}"%>
<% end %>

<table id="table_tasks">
  <thead>
    <tr>
      <th><%= I18n.t("tasks.table.title") %></th>
      <th><%= I18n.t("tasks.table.start_time") %></th>
      <th><%= I18n.t("tasks.table.end_time") %></th>
      <th><%= I18n.t("tasks.table.priority") %></th>
      <th><%= I18n.t("tasks.table.status") %></th>
      <th><%= I18n.t("tasks.table.description") %></th>
      <th><%= I18n.t("tasks.table.edit") %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>      
      <tr>
        <td><%= task.title %></td>
        <td><%= I18n.l(task.start_time, format: :long) if task.start_time%></td>
        <td><%= I18n.l(task.end_time, format: :long) if task.end_time%></td>
        <td><%= task.priority %></td>
        <td><%= I18n.t("activerecord.attributes.task/status.#{task.status}") if task.status %></td>
        <td>
          <span class="ellipsis"><%= task.description %></span>
          <%= link_to "#{I18n.t("tasks.table.view")}", task_path(task.id) %>
        </td>
        <td>
          <%= link_to "#{I18n.t("tasks.table.edit")}", edit_task_path(id: task.id) %>
          <%= delete_link_to "#{I18n.t("tasks.table.delete")}", task_path(id: task.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>