<h1><%= I18n.t("tasks.heading.view_task") %></h1>
<%= link_to "#{I18n.t("tasks.table.create_a_new_task")}", new_task_path %>

<table>
  <thead>
    <th><%= I18n.t("tasks.table.title") %></th>
    <th><%= I18n.t("tasks.table.start_time") %></th>
    <th><%= I18n.t("tasks.table.end_time") %></th>
    <th><%= I18n.t("tasks.table.status") %></th>
    <th><%= I18n.t("tasks.table.description") %></th>
    <th><%= I18n.t("tasks.table.edit") %></th>
  </thead>
  <tbody>
    <tr>
      <td><%= @task.title %> (<%= I18n.t("tasks.table.priority") %> <%= @task.priority if @task.priority %>)</td>
      <td><%= @task.status if @task.status %></td>
      <td><%= @task.start_time if @task.start_time %></td>
      <td><%= @task.end_time if @task.end_time %></td>
      <td><%= @task.description %></td>
      <td>
        <%= link_to "#{I18n.t("tasks.table.edit")}", edit_task_path(id: @task.id) %>
        <%= delete_link_to "#{I18n.t("tasks.table.delete")}", task_path(id: @task.id) %>
      </td>
    </tr>
  </tbody>
</table>