<h1><%= I18n.t("tasks.heading.view_task") %></h1>
<%= link_to I18n.t("tasks.back_to_task_list"), tasks_path %>

<div class="card">
  <h4 class="card-header">
    <span class="badge badge-primary">
      <%= I18n.t("activerecord.attributes.task/status.#{@task.status}") %>
    </span>
    <span class="badge badge-secondary">
      <%= I18n.t("tasks.table.priority") %> <%= I18n.t("activerecord.attributes.task/priority.#{@task.priority}") %>
    </span>
  </h4>
  <div class="card-body">
    <h5 class="card-title"><%= @task.title %></h5>
    <p class="card-text"><%= @task.description %></p>
    <p class="card-text"><%= I18n.t("tasks.table.start_time") %> <span class="badge badge-secondary"><%= I18n.l(@task.start_time, format: :long) %></span></p>
    <p class="card-text"><%= I18n.t("tasks.table.end_time") %> <span class="badge badge-secondary"><%= I18n.l(@task.end_time, format: :long) %></span></p>
    <%= link_to I18n.t("tasks.table.edit"), edit_task_path(id: @task.id), class: 'btn btn-primary' %>
    <%= delete_link_to I18n.t("tasks.table.delete"), task_path(id: @task.id), true %>
  </div>
</div>