<div>
  <%= label_tag :search_field, I18n.t("tasks.search_field.label") %>
  <%= form_tag(url, method: 'get', class: 'form_search') do %>
    <%= label_tag :title, I18n.t("tasks.search_field.attributes.title.label"), class: 'badge badge-light' %>
    <%= text_field_tag :title, nil, placeholder: I18n.t("tasks.search_field.attributes.title.placeholder") %>

    <%= label_tag :status, I18n.t("tasks.search_field.attributes.status.label"), class: 'badge badge-light' %>
    <%= select_tag :status, 
        options_for_select([
                            [I18n.t("activerecord.attributes.task/status.pending"), "pending"],
                            [I18n.t("activerecord.attributes.task/status.ongoing"), "ongoing"],
                            [I18n.t("activerecord.attributes.task/status.done"), "done"]
                          ]),
        include_blank: true
    %>

    <%= label_tag :tag, I18n.t("tasks.search_field.attributes.tag.label"), class: 'badge badge-light' %>
    <%= tag_select_with_name_options %>

    <%= submit_tag I18n.t("tasks.search_field.submit") %>
  <% end %>
</div>