<% if task.errors.any? %>
  <ul class="error_message">
    <% task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(task, html: { class: 'form_task' }) do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <div>
    <%= form.label :title, I18n.t("tasks.form.title") %>
    <%= form.text_field :title, placeholder: I18n.t("tasks.form.placeholder.title") %>
  </div>
  
  <div>
    <%= form.label :start_time, I18n.t("tasks.form.start_time") %>
    <%= form.datetime_field :start_time %>
  </div>

  <div>
    <%= form.label :end_time, I18n.t("tasks.form.end_time") %>
    <%= form.datetime_field :end_time %>
  </div>

  <div>
    <%= form.label :priority, I18n.t("tasks.form.priority") %>
    <%= 
      form.select :priority, 
      options_for_select([
        [I18n.t("activerecord.attributes.task/priority.low"), "low"],
        [I18n.t("activerecord.attributes.task/priority.mid"), "mid"],
        [I18n.t("activerecord.attributes.task/priority.high"), "high"]
      ]) 
    %>
  </div>

  <div>
    <%= form.label :status, I18n.t("tasks.form.status") %>
    <%= 
      form.select :status, 
      options_for_select([
        [I18n.t("activerecord.attributes.task/status.pending"), "pending"],
        [I18n.t("activerecord.attributes.task/status.ongoing"), "ongoing"],
        [I18n.t("activerecord.attributes.task/status.done"), "done"]
      ]) 
    %>
  </div>

  <div>
    <%= form.label :description, I18n.t("tasks.form.description") %>
    <%= form.text_area :description, placeholder: I18n.t("tasks.form.placeholder.description") %>
  </div>

  <div>
    <%= form.label :tag_list, I18n.t("tasks.form.tag") %>
    <%= form.text_field :tag_list, placeholder: I18n.t("tasks.form.placeholder.tag") %>
  </div>

  <%= form.submit %>
<% end %>