<h1><%= I18n.t("activerecord.models.user") %> <%= @user.email %></h1>
<%= link_to I18n.t("views.backend.users.back_to_users_index"), admin_users_path %>

<%= paginate @tasks %>

<table id="table_tasks" class="table table-striped">
  <thead>
    <tr>
      <th class="text-center"><%= I18n.t("tasks.table.title") %></th>
      <th class="text-center"><%= I18n.t("tasks.table.created_at") %></th>
      <th class="text-center"><%= I18n.t("tasks.table.start_time") %></th>
      <th class="text-center"><%= I18n.t("tasks.table.end_time") %></th>
      <th class="text-center"><%= I18n.t("tasks.table.priority") %></th>
      <th class="text-center"><%= I18n.t("tasks.table.status") %></th>
      <th class="text-center"><%= I18n.t("tasks.table.description") %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>      
      <tr>
        <td>
          <span>
            <%= task.title %>
          </span>
        </td>
        <td class="text-center"><%= I18n.l(task.created_at, format: :long) %></td>
        <td class="text-center"><%= I18n.l(task.start_time, format: :long) %></td>
        <td class="text-center"><%= I18n.l(task.end_time, format: :long) %></td>
        <td class="text-center"><%= I18n.t("activerecord.attributes.task/priority.#{task.priority}") %></td>
        <td class="text-center"><%= I18n.t("activerecord.attributes.task/status.#{task.status}") %></td>
        <td class="text-center"><%= task.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>